.list {
  padding: 0.3rem;
  background-color: #ebebeb;
  width: 100dvw;
  .card {
    background-color: rgb(246, 245, 245);

    border: solid 5px white;
    display: flex;
    margin: 0.3rem;
    border-radius: 0.5rem;
    justify-content: space-between;

    .detalle {
      position: relative;
      width: 100%;
      align-items: flex-start;
      padding: 0.5rem;

      .btnDelete {
        position: absolute;
        top: 0;
        right: 3.5px;

        cursor: pointer;
        font-size: 10px;
        background-color: #5252521b;
        border-radius: 0.5rem;
        padding: 0.3rem;
        svg {
          margin: 0;
        }
      }

      .name {
        max-width: 10rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        color: rgb(8, 1, 137);
        //  line-height: 1.8125rem;
        //  font-family: Poppins, BlinkMacSystemFont, Roboto, sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: unset;
      }
      .price {
        font-size: 12px;
        color: rgb(128, 151, 178);
      }
    }
    .btn {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      p {
        font-size: 18px;
        font-weight: 600;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    img {
      width: 7rem;
      max-height: 7rem;
      object-fit: cover;
      object-position: center center;
      border-radius: 0.5rem 0 0 0.5rem;
      aspect-ratio: 1/1;
    }
  }
}
